root = true

[*]
charset = utf-8
end_of_line = unset
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,cjs,mjs}]
end_of_line = lf

[*.yml]
indent_size = 2

[{package.json,package-lock.json}]
end_of_line = lf
